<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">



	<bean id="loginuserDAO" class="com.dao.LoginuserDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
		<property name="jdbcTemplate">
			<ref bean="jdbcTemplate" />
		</property>
	</bean>



	<bean id="gangweiDAO" class="com.dao.GangweiDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
		<property name="jdbcTemplate">
			<ref bean="jdbcTemplate" />
		</property>
	</bean>
	
	
	<bean id="shenqDAO" class="com.dao.ShenqDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
		<property name="jdbcTemplate">
			<ref bean="jdbcTemplate" />
		</property>
	</bean>
	
	<bean id="gongziDAO" class="com.dao.GongziDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
		<property name="jdbcTemplate">
			<ref bean="jdbcTemplate" />
		</property>
	</bean>
	

<bean id="guanbiDAO" class="com.dao.GuanbiDAOImpl">
	<property name="sessionFactory">
		<ref bean="sessionFactory" />
	</property>
	<property name="jdbcTemplate">
		<ref bean="jdbcTemplate" />
	</property>
</bean>


</beans>